<h2 class="ui dividing header">Vehicles</h2>
{{#link-to "dashboard.vehicles.new"  }}
<div class="ui button">New</div>
{{/link-to}}

<div class="ui middle aligned divided list">
{{#each model as |vehicle|}}
<div class="item">
  <div class="right floated content">
    {{#link-to "dashboard.vehicles.vehicle" vehicle }}
    <div class="ui button">View</div>
    {{/link-to}}
  </div>
  <div class="right floated content">
    <div class="ui button" >Delete</div>
  </div>
  <img class="ui avatar image" src="/images/lena.png">
  <div class="content">
    {{vehicle.regno}}
  </div>
</div>
{{/each}}

</div>
