

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        HRM System
      </a>
      {{link-to 'Dashboard' 'dashboard' class="item"}}
      <div class="ui simple dropdown item right ">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <a href="#"  class="item" {{action "logout"}}>Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui main text container">
    <div class="ui grid">
      
    <div class="three wide column">

    <div class="ui vertical menu">
      {{#ui-dropdown class="item" }}
        Employee
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#link-to 'dashboard.employees.index' class="item"}}
          <i class="edit icon"></i>   Employee Home
          {{/link-to}}

          {{#link-to 'dashboard.employees.new' class="item"}}
          <i class="edit icon"></i>   New Employee
          {{/link-to}}

          {{#link-to 'dashboard.educations.index' class="item"}}
          <i class="edit icon"></i>   Employee Education
          {{/link-to}}

          {{#link-to 'dashboard.contracts.index' class="item"}}
          <i class="edit icon"></i>   Employee Contracts
          {{/link-to}}
        </div>
      {{/ui-dropdown}}

      {{#ui-dropdown class="item" }}
        Documents
        <i class="dropdown icon"></i>
        <div class="menu">

          {{#link-to 'dashboard.iqama' class="item"}}
          <i class="edit icon"></i> Iqama
          {{/link-to}}
          {{#link-to 'dashboard.passport' class="item"}}
          <i class="edit icon"></i> Passport
          {{/link-to}}
          {{#link-to 'dashboard.visa' class="item"}}
          <i class="edit icon"></i> Visa
          {{/link-to}}
          {{#link-to 'dashboard.insurance' class="item"}}
          <i class="edit icon"></i> Insurance
          {{/link-to}}

        </div>
      {{/ui-dropdown}}

        {{#link-to 'dashboard.vehicles.index' class="item"}}
        <i class="edit icon"></i> Vehicles
        {{/link-to}}

    </div>
  </div>
   <div class="twelve wide column ">

    {{outlet}}
  </div>
  </div>

  </div>
